.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2rem;
	background-color: red;
	vertical-align: middle;
	text-align: center;
}
.navbar1 {
	display: inline-block;
	
}
.navbar1 a {
	color: white;
	text-decoration: none;

}